.entry-card {
    max-width: calc(100vw - 400px);
    background: #fff;
}



.action-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 8px;
    display: inline-grid;
}



.o-field input,
.o-field select,
.o-field textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}

.input,
textarea {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.input:focus {
    border: solid 1px #03A9F4;
}

.alert {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
    --bs-alert-padding-y: 0 !important;
}

.footer-button {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.form-group {
    margin-bottom: 0;
}

.container {
    margin-bottom: 50px;
}